main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 600px;
    text-align: center;
    padding-bottom: 100px;
}

.title{
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 1.2em;
}

.inner_container{
    display: flex;
    justify-content: space-between;
}

.toggle-btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    user-select: none;
}
.toggle-btn.off {
    background-color: #FF4136;
    border-color: #FF4136;
}

.content {
    width: 400px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}