<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create New Branch</title>
        <!-- FOR GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <!-- FOR CSS  -->
        <link rel="stylesheet" href="stylesheets/headerAndFooter.css">
        <link rel="stylesheet" href="stylesheets/homepage.css">
        <link rel = "stylesheet" href="stylesheets/adminCreateBranch.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
<body>
    <header>
        <div class="left_header">
            <nav>
                <a href = "/">
                    <img src="/images/logo.png" id="logo" alt="logo">
                </a>
                <a href="../AboutUs.html" id="About">About</a>
                <a href = "../EventList.html" id="Events">Events</a>
                <a href = "../BranchGrid.html" id="Branches">Branches</a>
            </nav>
        </div>

        <div class="right_header">
            <div class="right_header1">
                <form>
                    <img src="/images/Search.png" id="Search" alt="Search">
                    <input  type="text" placeholder="Search...">
                </form>
            </div>

            <div class="right_header2">
                <div v-if="isNotLoggedIn" class="guest">
                    <a href="../signup_login/login.html" id="Login" style="text-decoration: none; color:black;">Login</a>
                </div>

                <div v-if="isManager" class="manager">
                    <div class="icons">
                        <img src="/images/downArrow.png" id="downArrow" alt="arrow" @click="hideDropDown()" >
                        <img @click="DirectToMyAccount()" :src=avatar id="account" alt="account" style="height:7vh; width:7vh; border-radius: 50%; object-fit: cover;">
                    </div>

                    <div style="display:none;" class="dropdown-menu">
                        <a @click="DirectToMyAccount()">My Account</a>
                        <a @click="DirectToBranch()">My Branch</a>
                        <a href="../Dashboard.html">My Dashboard</a>
                        <a @click="logout()">Log Out</a>
                    </div>
                </div>

                <div  v-if="isAdmin" id="admin">

                    <div class="icons">
                        <img src="/images/downArrow.png" id="downArrow" alt="arrow" @click="hideDropDown()">
                        <img @click="DirectToMyAccount()" :src=avatar id="account" alt="account" style="height:7vh; width:7vh; border-radius: 50%; object-fit: cover; margin-left: 1.5vh" >
                        <img @click="DirectToNotificationList()" src="/images/notification.png" id="notification" alt="notification" style="margin-right: 2vh; display: none;">
                    </div>

                    <div style="display: none;" class="dropdown-menu">
                        <a @click="DirectToMyAccount()">My Account</a>
                        <a href="../Dashboard.html">My Dashboard</a>
                        <a @click="logout()">Log Out</a>
                    </div>
                </div>

                <div  v-if="isUser" id="user">
                    <div class="icons">
                        <img @click="hideDropDown()" src="/images/downArrow.png" id="downnArrow" alt="arrow" >
                        <img @click="DirectToMyAccount()" :src=avatar id="account" alt="account" style="height:6vh; width:6vh; border-radius: 50%; object-fit: cover; margin-left: 1.5vh">
                        <img @click="DirectToNotificationList()" src="/images/notification.png" id="notification" alt="notification" style="margin-right: 2vh">
                    </div>

                    <div style="display: none;" class="dropdown-menu">
                        <a @click="DirectToMyAccount()">My Account</a>
                        <a @click="logout()">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <hr style="background-color:  #E6E6E6; position: fixed; width: 100%; height: 2px; border: none;">
        <div class="center">
            <form class ="branch" name = "this-form" @submit.prevent="SignUpBranch()">
                <h2><b>Create a new branch</b></h2>
                <input type="text" placeholder="Branch Name" name = "branch-name" required>
                <input type="email" placeholder="Email Address" name = "email" required>
                <span class="error-message" id="errors-email"></span>
                <input type="text" placeholder="Contact Number" name = "phone" required>
                <input type="text" placeholder="Location" name = "location" required>
                <span class="error-message" id="errors-empty"></span>
                <textarea placeholder="Description" name="branch-description" required></textarea>
                <div class="custom-select">
                    <select class="dropdown-content" id = "user-select">
                        <option value = "0">Assign a user as the manager of this branch</option>
                        <option v-for="user in users" :value="user.id">
                            {{user.name}}
                        </option>
                    </select>
                </div>
                <span class="error-message" id="errors-manager"></span>
                <button type="submit" id="red" name="manager" onclick="SignUpBranch()">Submit</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="contactINFO">
            <div><u><b>Contact Us</b></u></div>
            <div><u>North Terrace Campus</u></div>
            <div>Level 4 Hub Central</div>
            <div>University of Adelaide</div>
            <div>General: Care&Share<u>@adelaide.edu.au</u></div>
        </div>
        <div class = "Quick-links">
            <u><b>Quick Links</b></u>
            <div><a href = "../AboutUs.html">About Us</a></div>
            <div><a href = "../EventList.html">Our Events</a></div>
            <div><a href = "../BranchGrid.html">Our Branches</a></div>
        </div>
        <div id="ConnectWithUs">
            <div><u><b>Connect With Us</b></u></div> <br>
            <div id = "icons-footer">
                <img src="/images/Facebook.png">
                <img src="/images/X.png">
                <img src="/images/Instagram.png">
            </div>
        </div>
    </footer>
    <script src="/javascripts/admin6.js"></script>
</body>
</html>